This document serves to certify that @bobbythekitty (u/n4rin4ri) is a maintainer of Aimmy
to voxlis.net (2026/08/19)

This file will be deleted when verification is complete.
